<ion-header>
	  <ion-toolbar>
		      <ion-back-button></ion-back-button>
		        </ion-toolbar>
</ion-header>

<ion-content text-center>
	<h1>{{rdv.name}}</h1>
	<p>
	 <button ion-button clear [routerLink]="['/edit-pays/', id]">
		 edit pays 

		                                                                                               <ion-icon name="create" style="zoom:2.0"></ion-icon>

													                                                                                                             </button>
	</p>
	<p>


																										                                                                                                           <button ion-button clear (click)="deletePays(id)">
	supprimer pays 


																																								                  <ion-icon name="trash" style="zoom:2.0"></ion-icon>


																																										                         </button>
	</p>
</ion-content>
