<ion-header>
	         <ion-toolbar>
		                     <ion-title>
			                                   Calendars App - Mes pays
			                                       </ion-title>
		                                         </ion-toolbar>
	</ion-header>
<ion-content>
	
	                                                      <div class="pays_map_container">
	
                                                                                                      <div id="pays_map"></div>
		
		                                                                                                                                            </div>

	
	         <ion-list class="ios list-ios hydrated">
		                     <ion-list-header class="ios hydrated">
			                                   Pays
			                                       </ion-list-header>
		                                           <ion-item *ngFor="let pays of Countries" class="user-list">
			                                                         <ion-label>
				                                                                         <h5>
					-                                                                                           <ion-icon name="map"></ion-icon> {{pays.name}}
					-                                                                                                   </h5>
				                                                                                                                                   </ion-label>
			                                                                                                                                         <div class="item-note" item-end>
				                                                                                                                                                         <button ion-button clear [routerLink]="['/edit-pays/', pays.$key]">
					                                                                                                                                                                           <ion-icon name="create" style="zoom:2.0"></ion-icon>
					                                                                                                                                                                                   </button>
				                                                                                                                                                                                           <button ion-button clear (click)="deletePays(pays.$key)">
					                                                                                                                                                                                                                 <ion-icon name="trash" style="zoom:2.0"></ion-icon>
					                                                                                                                                                                                                                         </button>
				                                                                                                                                                                                                                               </div>
			                                                                                                                                                                                                                                   </ion-item>
		
	                                                                                                                                                                                                                                     </ion-list>
	
				                                                                                                           <p>
				                                                                                                                                                         <button ion-button clear [routerLink]="['/make-pays/']">
					                                                                                                                                                                           ajouter un pays <ion-icon name="create" style="zoom:2.0"></ion-icon>
					                                                                                                                                                                                   </button>
				                                                                                                                             </p>
</ion-content>
