<ion-header>
	  <ion-toolbar>
		      <ion-back-button></ion-back-button>
		        </ion-toolbar>
</ion-header>

<ion-content text-center>
	<h1>{{rdv.name}}</h1>
	<p>{{rdv.email}}</p>
	<p>{{rdv.mobile}}</p>
	<p>{{rdv.date}}</p>
	<p>{{rdv.nompays}}</p>
	<p>{{rdv.nomlieu}}</p>
	<p>
	 <button ion-button clear [routerLink]="['/edit-appointment/', id]">
		 edit rdv

		                                                                                               <ion-icon name="create" style="zoom:2.0"></ion-icon>

													                                                                                                             </button>
	</p>
	<p>


																										                                                                                                           <button ion-button clear (click)="deleteBooking(id)">
	supprimer rdv


																																								                  <ion-icon name="trash" style="zoom:2.0"></ion-icon>


																																										                         </button>
	</p>
</ion-content>
