<ion-header>
	  <ion-toolbar class="ios hydrated">
			                        <ion-back-button></ion-back-button>
						<ion-title class="ios title-ios hydrated"> ajouter un Lieu</ion-title>

						                        </ion-toolbar>
</ion-header>
<ion-content>

				                                             <div class="make_lieu_map_container">

										                                             <div id="make_lieu_map"></div>

															                                           </div>


	  <ion-list lines="full">
		      <form [formGroup]="lieuForm" (ngSubmit)="formSubmit()">
			       <ion-item>



																				                                           </ion-item>
			            <ion-item>
					            <ion-label position="floating">Name</ion-label>
						            <ion-input formControlName="name" type="text" required></ion-input>
							          </ion-item>
								        <ion-item>
										        <ion-label position="floating">Pays</ion-label>
											 <ion-select formControlName="pays_id" label="pays" label-placement="stacked">
												 <ion-select-option *ngFor="let pays of Countries" value="{{pays.$key}}">{{pays.name}}</ion-select-option>
														       </ion-select>
														      </ion-item>
														            <ion-item>
											        <ion-input formControlName="lat" type="hidden" id="lat" >
													        </ion-input>
											        <ion-input formControlName="lon" type="hidden" id="lon" >
													        </ion-input>
														      </ion-item>
																					        <ion-row>
																							        <ion-col>
																									          <ion-button type="submit" color="primary" shape="full" expand="block">Book Appointment</ion-button>
																										          </ion-col>
																											        </ion-row>
																												    </form>
																												      </ion-list>
</ion-content>
