<ion-header>
	  <ion-toolbar class="ios hydrated">
			                        <ion-back-button></ion-back-button>
						<ion-title class="ios title-ios hydrated"> Booking</ion-title>

						                        </ion-toolbar>
</ion-header>
<ion-content>

				                                             <div class="other_map_container">

										                                             <div id="other_map"></div>

															                                           </div>


	  <ion-list lines="full">
		      <form [formGroup]="bookingForm" (ngSubmit)="formSubmit()">
			       <ion-item>



																				                                           </ion-item>
			            <ion-item>
					            <ion-label position="floating">Date</ion-label>
						            <ion-datetime formControlName="date" required></ion-datetime>
							          </ion-item>
			            <ion-item>
					            <ion-label position="floating">Name</ion-label>
						            <ion-input formControlName="name" type="text" required></ion-input>
							          </ion-item>
								        <ion-item>
										        <ion-label position="floating">Email</ion-label>
											        <ion-input formControlName="email" type="text" required>
													        </ion-input>
											        <ion-input formControlName="lat" type="hidden" id="lat" >
													        </ion-input>
											        <ion-input formControlName="lon" type="hidden" id="lat" >
													        </ion-input>
														      </ion-item>
														            <ion-item>
																            <ion-label position="floating">Mobile</ion-label>
																	            <ion-input formControlName="mobile" type="text" required>
																			            </ion-input>
																				          </ion-item>
																					        <ion-row>
																							        <ion-col>
																									          <ion-button type="submit" color="primary" shape="full" expand="block">Book Appointment</ion-button>
																										          </ion-col>
																											        </ion-row>
																												    </form>
																												      </ion-list>
</ion-content>
