<ion-header>
	  <ion-toolbar>
		      <ion-title>
			            Edit Lieu
				        </ion-title>
					  </ion-toolbar>
</ion-header>
<ion-content>
	  <div class="edit_lieu_map_container">

		                                                                                                        <div id="edit_lieu_map"></div>

															                                                                                                                                                            </div>

	  <ion-list lines="full">
		      <form [formGroup]="updateLieuForm" (ngSubmit)="updateForm()">
			            <ion-item>
					            <ion-label position="floating">Name</ion-label>
						            <ion-input formControlName="name" type="text" required></ion-input>
							          </ion-item>
								   <ion-item>
									                                                                                           <ion-label position="floating">Pays</ion-label>
																				                                                                                            <ion-select formControlName="pays_id" label="pays" label-placement="stacked">
																																                                                                                                     <ion-select-option *ngFor="let pays of Countries" value="{{pays.$key}}">{{pays.name}}</ion-select-option>
																																												                                                                                                                            </ion-select>
																																																											                                                                                                                          </ion-item>
																																																											                                                                                                                          <ion-item>
											        <ion-input formControlName="lat" type="hidden" required>
													        </ion-input>
											        <ion-input formControlName="lon" type="hidden" required>
													        </ion-input>
														      </ion-item>
																					        <ion-row>
																							        <ion-col>
																									          <ion-button type="submit" color="primary" shape="full" expand="block">Update Lieu</ion-button>
																										          </ion-col>
																											        </ion-row>
																												    </form>
																												      </ion-list>
</ion-content>
